.jumbotron {
    height: 500;
    margin-bottom: 0px;
    background-image: url(../static/images/tessellate.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbo-item {
    text-align:center;  
}

.active {
    background-color: #1565C0;
}